.progressIndicator {
    display: grid;
    grid-template-rows: 10% 30% 10% 50%;
    grid-template-columns: 1fr repeat(3, 2fr) 1fr;
    width: 50rem;
    font-size: small;
}

.markTop {
    grid-row-start: 1;
    border-left: 1px solid black;
}

.markTop:first-of-type {
    border-left: none;
}

.markBottom {
    grid-row-start: 3;
    border-left: 1px solid black;
}

div.markFix+.markBottom,
.markFixEnd {
    border: none;
}

.bar {
    border: 1px solid black;
    border-right: none;
    background-image: linear-gradient(90deg, white, #642472);
    grid-column-start: 2;
    grid-column-end: -2;
}

.label {
    position: relative;
    grid-row-start: 4;
    text-align: end;
    right: -2.2rem;
    padding-top: 0.3rem;
}

.startLabel {
    grid-row-start: 2;
    grid-column-start: 1;
    align-self: center;
    text-align: end;
    padding-right: 0.5rem;
}

.endLabel {
    grid-row-start: 2;
    grid-column-start: 5;
    align-self: center;
    padding-left: 0.5rem;
    border-left: 1px solid black;
}