div.solvingTimeItem {
  display: inline-block;
  border-radius: 6px;
  margin: 0.25rem;
  padding: 0.25rem 3rem 0.25rem 1.5rem;
}

.solvingTimeItemSuccess{
  background-color:  rgb(2, 204, 29);
}

.solvingTimeItemFailed{
  background-color: rgb(255, 99, 99);
}

.solvingTimeItem div {
  display: inline-block;
}

.solvingTimeItemSymbol {
  width: 2rem;
}

.solvingTimeItemSymbol h1 {
  display: inline;
  margin: 0;
  font-size: medium;
}

.solvingTimeItemTime {
  margin-left: 2rem;
  width: 5rem;
}

.solvingTimeItemNumberSuccessfulAnswers {
  margin-left: 3rem;
}
