.toolbar {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
}

.toolbar img {
  height: 2rem;
  width: 2rem;
}

.toolbar button {
  background-color: var(--mainBackgroundColor);
  border: none;
  margin: 0.5rem;
}