@import '../../styles/global/colors.module.scss';

.toolbar {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
}

.toolbar button {
  background-color: $neutralColor;
  border: none;
  margin: 0.5rem 0.2rem;
  padding: 0;
}

.icon {
  font-size: 3rem;
  color: $primaryColor;
}