.toolbar {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.toolbar img {
  height: 2rem;
  width: 2rem;
}

.toolbar button {
  background-color: white;
  border: none;
  margin: 0.5rem;
}
