.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noSolution {
  background-color: white;
}

.correctSolution {
  background-color: rgb(2, 204, 29);
}

.incorrectSolution {
  background-color: rgb(255, 99, 99);
}
