.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noSolutionProvided {
  background-color: white;
}

.successfulSolution {
  background-color: green;
}

.failedSolution {
  background-color: darkred;
}
