@import '../../styles/global/colors.module.scss';

* {
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $neutralColor;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

.displayAndKeyboardContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

.display {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.keyboard {
  margin-bottom: 1rem;
}

.modalDialog {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-105%);
  transition: transform 0.7s;
  width: 60%;
}

.modalDialogVisible {
  transform: translateX(-2%);
}

@media (min-width: 40rem) and (min-height: 25rem) {
  .mainContainer {
    flex-direction: row;
  }

  .displayAndKeyboardContainer {
    height: auto;
  }

  .modalDialog {
    width: 30%;
  }
}