.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noSolutionProvided {
  background-color: white;
}

.successfulSolution {
  background-color: rgb(2, 204, 29);
}

.failedSolution {
  background-color: rgb(255, 99, 99);
}

.solvingTimeList{
  display: flex;
  flex-direction: row;
}