.banner {
    position: absolute;
    top: 0;
    right: 0;
    width: 10rem;
    transform: translateX(2.5rem) translateY(1.5rem) rotateZ(45deg);
    background-color: var(--primaryColor);
    color: var(--mainTextColorOnPrimary);
    font-size: 1rem;
    text-align: center;
    opacity: 0;
}

.visible {
    opacity: 1;
}