.highlight {
    font-size: xx-large;
    color: white;
    border-radius: 5px;
    animation: grow 0.9s;
}

button.key {
    background-color: rgba(100, 36, 114, 0.8);
    color: white;
    border-radius: 5px;
    border-color: #642472
}

button.key:hover {
    background-color: #642472;
}

button.key.success,
button.key:hover.success {
    background-color: rgb(2, 204, 29);
}

button.key.failed {
    background-color: rgb(255, 99, 99);
}

@keyframes grow {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.3)
    }

    100% {
        transform: scale(1);
    }
}