.history h4 {
  margin-bottom: 0.3rem;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 20rem;
}

@media (min-width: 60rem) {
  .history {
    margin-left: 5rem;
  }
}