@import '../../styles/global/colors.module.scss';

.history h4 {
  margin: 0;
}

.history {
  width: 50%;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 20rem;
}

.headline {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
  margin-top: 1.5rem;
}

.headline h4 {
  display: inline-block;
  margin-right: 0.5rem;
}

.headline button {
  font-size: 0rem;
}

.headline span:hover {
  color: $warningColor;
  cursor: pointer;
}

@media (min-width: 60rem) {
  .history {
    margin-left: 5rem;
  }
}