.history h4 {
  margin-bottom: 0.3rem;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 20rem;
}

.headline h4 {
  display: inline-block;
  margin-right: 0.5rem;
}

.headline button {
  font-size: 0rem;
}

.headline span:hover {
  color: red;
  cursor: pointer;
}

.headline {
  display: flex;
  align-items: center;
}

@media (min-width: 60rem) {
  .history {
    margin-left: 5rem;
  }
}
