:root {
    --primaryColor: #642472;
    --primaryColor_transp80: rgba(100, 36, 114, 0.8);
    --warningColor: red;
    --successColor: rgb(2, 204, 29);
    --failColor: rgb(255, 99, 99);

    --mainBackgroundColor: white;
    --boxShadowColor: rgba(0, 0, 0, 0.2);

    /* History */
    --historyBorderColor: black;

    /* Setting */
    --settingBorderColor: #d6d6d6;
}