.settings {
  /* padding: 1rem 2rem; */
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.settings h3 {
  margin: 0.5rem 0;
  font-size: small;
}

.card {
  border-radius: 0 12px 12px 0;
}

.headline{
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.headline span{
  cursor: pointer;
}

.headline h1{
  display: inline-block;
  margin: 0;
  font-size: medium;
  cursor: pointer;
}

.form{
  padding: 1rem 2rem;
}