.setting{
  display: flex;
}

div.setting{
  margin-bottom: 2rem;
}

div.setting:last-of-type{
  margin-bottom: 0;
}

.setting h3{
  width: 40%;
}

.settingContent {
  margin-left: 1rem;
  width: 60%;
}
