.settings {
  box-shadow: 1px 1px 5px 1px var(--boxShadowColor);
}

.settings h3 {
  margin: 0.5rem 0;
  font-size: small;
}

.card {
  border-radius: 0 12px 12px 0;
}

.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.headline span {
  cursor: pointer;
}

.headline h1 {
  display: inline-block;
  margin: 0;
  font-size: medium;
  cursor: pointer;
}

.headlineLeft {
  display: flex;
  align-items: center;
}

.headlineRight {
  margin-right: 1rem;
}

.form {
  padding: 1rem 2rem;
}

.privacyPolicy {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 0 1rem 0.5rem 0;
}

.privacyPolicy > a {
  text-decoration: none;
  color: var(--keyDarkColor);
}
